Flask
python-dotenv
requests
flask_login
flask_sqllchemy
SQLAlchemy
UserMixin
login_user
LoginManager
login_required
logout_user
url_for
flask_wtf
FlaskForm
wtforms
StringField
SubmitField
wtforms.validators
InputRequired
Length
ValidationError