<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header> 
            <h1 class = "color">Hello {{name}}, Welcome to Movie Discovery!</h1>
            <p class = "color"><b>The website that shows you your favorite movies and allows you to leave a review!?</b></p>
            <a href="{{url_for('logout')}}">Press here to logout</a>
            <h2 class = "color">{{ movie_data[5] }} presents {{ movie_data[0] }}</h2>
        </header>
        <section>
            <div class = "color">
                <p class = "size"><b>Overview: {{ movie_data[1] }}</b></p>
                <p class = "size"><b>Genre(s): {{ movie_data[2] }}</b></p>
                <p class = "size"><a href={{ link }}>Wikipedia Link for {{ movie_data[0] }}</a></p>
            </div>
            <div class="parent color">
                <div class="child">
                    <p><img src = {{ movie_data[3] }} style="width:400px;height:600px;"></p>
                </div>
                <div class="child">
                    <form method="POST" action="/homepage/{{name}}">
                        <label for="movie_id">Movie_ID:</label>
                        <input type="text" id="movie_id" name="movie_id" value={{movie_id}} readonly><br><br>
                        <textarea rows="5" cols="50" name="comment" placeholder="leave a comment"></textarea>
                        <label for="rating">Rating (out of 10) </label>
                        <textarea rows="1" cols="10" placeholder="rating" name="rating"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                    <p><a href="">Click here to leave a comment on a different movie! Please don't press browser refresh!</a></p>
                    {% for i in range(num_review_data) %}
                        <h2><b>User: {{review_data[i].user}}</b></h2> 
                        <p><b>Rating: {{review_data[i].rating}}/10</b></p>
                        <p><b>Comment: {{review_data[i].comment}}</b></p>
                    {%endfor%}
                </div>
            </div>
        </section>
    </body> 
</html>
