<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header> 
            <h1>Hello {{name}}, you are logged IN!</h1>
            <a href="{{url_for('logout')}}">Press here to logout</a>
            <h1 class = "color">Welcome to Movie Discovery!</h1>
            <p class = "color"><b>The website that shows you your favorite movies and allows you to leave a review!?</b></p>
            <h2 class = "color">{{ movie_data[5] }} presents {{ movie_data[0] }}</h2>
        </header>
        <section>
            <h1>Look below and you will see comments and ratings</h1>
            <div class = "color">
                <p class = "size"><b>Overview: {{ movie_data[1] }}</b></p>
                <p class = "size"><b>Genre(s): {{ movie_data[2] }}</b></p>
                <p class = "size"><a href={{ link }}>Wikipedia Link for {{ movie_data[0] }}</a></p>
            </div>
            <div class="parent">
                <div class="child">
                    <p><img src = {{ movie_data[3] }} style="width:400px;height:600px;"></p>
                </div>
                <div class="child">
                    <form method="POST" action="/homepage/{{name}}">
                        <input type="text" id="movie_id" name="movie_id" value={{movie_id}} readonly><br><br>
                        <input type="text" placeholder="leave a comment" name="comment">
                        <input type="text" placeholder="leave a rating" name="rating">
                        <input type="submit" value="Submit">
                    </form>
                    {% for i in range(num_review_data) %}
                        <p><b>{{review_data[i].user}}</b></p>    
                        <p><b>{{review_data[i].comment}}</b></p>
                        <p><b>{{review_data[i].rating}}</b></p>
                    {%endfor%}
                </div>
            </div>
        </section>
    </body> 
</html>
