<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header> 
            <h1>Welcome to the Home Page</h1>
            <nav>
                <ul>
                    <li><a href="">Intro Page</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div>
                <p><b>{{ data[0] }}</b></p>
                <p><b>{{ data[1] }}</b></p>
                <p><b>{{ data[2] }}</b></p>
                <p><a href={{ link }}>Wikipedia Link for {{ data[0] }}</a></p>
                <p><img src = {{ data[3] }}></p>
            </div>
        </section>
    </body> 
</html>

