<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Login</title>
</head>
<body>
    <div class="center-screen">
        <h1>Login Page</h1>
        <form method="POST" action ="">
            {{form.hidden_tag()}}
            {{form.username}}
            {{form.password}}
            {{form.submit}}
        </form>
        <h2 class="spacing"><a href="{{url_for('register')}}">Click here if you don't have an account!</a></h2><br>
    </div>
    
</body>
</html>